flows.json
[{"id":"5f36cc4b.5a8754","label":"new package","type":"tab"},{"id":"f78d520a.f781","type":"twitter","z":"5f36cc4b.5a8754","name":"twitter","subtype":"twitterHashTagStream","x":168,"y":170,"wires":[["a6f9d80f.433298"]]},{"id":"a6f9d80f.433298","type":"extract","z":"5f36cc4b.5a8754","name":"extract tweet","filters":[{"source":"twitter","item":{"type":"string","description":"a tweet","name":"value"},"path":["msg","payload","value"]},{"source":"twitter","item":{"type":"string","description":"a name assigned to this twitter node","name":"name"},"path":["msg","name"]}],"x":294,"y":253,"wires":[["a5b0b1a7.3564d","df7946b8.fa5328"]]},{"id":"a5b0b1a7.3564d","type":"dbfunction","z":"5f36cc4b.5a8754","name":"","func":"return msg;","outputs":1,"noerr":0,"x":393,"y":381,"wires":[["1baedc3a.872494"]]},{"id":"1baedc3a.872494","type":"app","z":"5f36cc4b.5a8754","name":"","appId":"webapp","layout":null,"x":554,"y":380,"wires":[]},{"id":"df7946b8.fa5328","type":"debugger","z":"5f36cc4b.5a8754","name":"","active":true,"console":"false","complete":"false","x":499,"y":193,"wires":[]},{"id":"3e03d003.67c86","type":"sensingkit","z":"5f36cc4b.5a8754","name":"","subtype":"light","x":173,"y":431,"wires":[["a5b0b1a7.3564d"]]}]