flows.json
[{"id":"5f36cc4b.5a8754","label":"new package","type":"tab"},{"id":"f78d520a.f781","type":"twitter","z":"5f36cc4b.5a8754","name":"twitter","subtype":"twitterHashTagStream","x":168,"y":170,"wires":[["a6f9d80f.433298"]]},{"id":"a6f9d80f.433298","type":"extract","z":"5f36cc4b.5a8754","name":"extract tweet","filters":[{"source":"twitter","item":{"type":"string","description":"a name assigned to this twitter node","name":"name"},"path":["msg","name"]},{"source":"twitter","item":{"type":"string","description":"a tweet","name":"value"},"path":["msg","payload","value"]},{"source":"twitter","item":{"type":"string","description":"<i>[id]</i>","name":"id"},"path":["msg","id"]}],"x":294,"y":253,"wires":[["df7946b8.fa5328","c90ad512.412f28"]]},{"id":"a5b0b1a7.3564d","type":"dbfunction","z":"5f36cc4b.5a8754","name":"","func":"var outputs = [];\n\nif (msg.payload.name === \"twitter\"){\n    outputs[0] = {\n        sourceId: \"1baedc3a.872494\",\n        type: \"text\",\n        payload: {\n            values: msg.payload.value,\n        }\n    }\n}\nreturn outputs;","outputs":2,"noerr":0,"x":296,"y":317,"wires":[[],[]]},{"id":"1baedc3a.872494","type":"app","z":"5f36cc4b.5a8754","name":"","appId":"webapp","layout":[["c90ad512.412f28"]],"x":566,"y":295,"wires":[]},{"id":"df7946b8.fa5328","type":"debugger","z":"5f36cc4b.5a8754","name":"","active":true,"console":"false","complete":"true","x":552,"y":120,"wires":[]},{"id":"c90ad512.412f28","type":"webify","z":"5f36cc4b.5a8754","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload.value}} !","x":435,"y":291,"wires":[["1baedc3a.872494"]]}]